[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "catmaply"]
	path = catmaply
	url = https://github.com/verkehrsbetriebezuerich/catmaply
